<app-project-management-create-app></app-project-management-create-app>
@if ((projectManagementAppService.apps$ | async)?.length) {
<div class="wrapper">
  <ul class="mb-0 pt-3 pb-3 d-flex justify-content-evenly gap-3 fw-bold bg-light" style="padding-left: 0">
    <li class="list-unstyled" style="width: 50px">Назва</li>
    <li class="list-unstyled" style="width: 50px">Шлях</li>
    <li class="list-unstyled" style="width: 130px">Короткий опис</li>
    <!-- <li class="list-unstyled" style="width: 190px">Проект</li> -->
    <li class="list-unstyled" style="width: 190px">Редагувати</li>
    <li class="list-unstyled" style="width: 190px">Видалити</li>
  </ul>
  <div class="accordion">
    @for (app of projectManagementAppService.apps$ | async;track app.id) {
    <div class="accordion-item">
      <app-project-management-app [app]="app"></app-project-management-app>
    </div>
    }
  </div>
</div>
} @else {
<div class="alert alert-secondary text-center">Додатки відсутні</div>
}
