<h1>FEATURE IN MASTER</h1>
<h1>FEATURE IN MASTER 2</h1>
<h1>FEATURE IN MASTER 3</h1>
<h1>FEATURE IN MASTER 3</h1>
<h1>FEATURE IN MASTER 3</h1>
<h1>FEATURE IN MASTER 3</h1>
<h1>FEATURE IN MASTER 3</h1>
<h1>FEATURE IN MASTER 4</h1>
<h1>FEATURE IN MASTER 5</h1>
<h1>FEATURE IN MASTER 6</h1>
<div class="container-fluid">
  <app-header></app-header>

  <ng-container *ngIf="isAuthorized">
    <div>
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-container *ngIf="!isAuthorized">
    <app-auth></app-auth>
  </ng-container>
  <app-message-box></app-message-box>
</div>
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
SEX NALA
