<div class="d-flex align-items-center gap-3 mb-3">
  <app-modal
    [buttonName]="'Додати роль'"
    [modalName]="'Додати роль'"
    [buttonClasses]="'btn-outline-primary'"
    (modalClosed)="clearAddRoleModal()"
  >
    <div class="mb-4">
      <ng-select
        [items]="userManagementUserRolesService.availableRoles$ | async"
        bindLabel="Name"
        placeholder="Оберіть роль"
        [(ngModel)]="userManagementUserRolesService.selectedRoleForAdd"
        [multiple]="true"
        [closeOnSelect]="false"
      >
      </ng-select>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!userManagementUserRolesService.selectedRoleForAdd"
      (click)="userManagementUserRolesService.addUserRole()"
    >
      Додати роль
    </button>
  </app-modal>
  <app-modal
    [buttonName]="'Видалити роль'"
    [modalName]="'Видалити роль'"
    [buttonClasses]="'btn-danger'"
    (modalClosed)="clearDeleteRoleModal()"
  >
    <div class="mb-4">
      <ng-select
        [items]="userManagementUserRolesService.userRoles$ | async"
        bindLabel="Name"
        placeholder="Оберіть роль"
        [(ngModel)]="userManagementUserRolesService.selectedRoleForDelete"
        [multiple]="true"
        [closeOnSelect]="false"
      >
      </ng-select>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!userManagementUserRolesService.selectedRoleForDelete"
      (click)="userManagementUserRolesService.deleteUserRole()"
    >
      Видалити роль
    </button>
  </app-modal>
</div>
<div class="mb-3" *ngIf="userManagementUserRolesService.userRoles$ | async as roles">
  <ng-container *ngIf="roles.length > 0; else noRoles">
    <h5>Ролі:</h5>
    <ng-container *ngFor="let role of roles">
      <app-user-management-role [role]="role"></app-user-management-role>
    </ng-container>
  </ng-container>
  <ng-template #noRoles>
    <div class="alert alert-secondary">Немає ролей</div>
  </ng-template>
</div>
