<div class="accordion-header">
  <button
    (click)="toggleShow()"
    [class.collapsed]="!showBody"
    class="accordion-button d-flex justify-content-center align-items-center"
    type="button"
  >
    <ul class="position-absolute start-0 end-0 d-flex justify-content-evenly align-items-center gap-3 m-0 p-0">
      <li class="list-unstyled" style="width: 50px">{{ app.Name }}</li>
      <li class="list-unstyled" style="width: 50px">{{ app.Route }}</li>
      <li class="list-unstyled" style="width: 130px">{{ app.ShortDescription }}</li>
      <!-- <li class="list-unstyled" style="width: 50px">{{ app.Project }}</li> -->
      <li class="list-unstyled" style="width: 190px">
        <app-modal [modalName]="'Оновити додаток'" [buttonName]="'Оновити додаток'" [buttonClasses]="'btn-outline-info'">
          <form>
            <div class="form-group mb-3">
              <label for="name">Назва додатку</label>
              <input
                [(ngModel)]="updateAppName"
                type="text"
                class="form-control"
                id="name"
                name="appName"
                placeholder="Напишіть назву додатку"
              />
            </div>
            <div class="form-group mb-3">
              <label for="route">Шлях додатку</label>
              <input
                [(ngModel)]="updateAppRoute"
                type="text"
                class="form-control"
                id="route"
                name="appRoute"
                placeholder="Напишіть шлях додатку"
              />
            </div>
            <div class="form-group mb-3">
              <label for="shortDescription">Короткий опис додатку</label>
              <input
                [(ngModel)]="updateAppShortDescription"
                type="text"
                class="form-control"
                id="shortDescription"
                name="appShortDescription"
                placeholder="Напишіть короткий опис додатку"
              />
            </div>
            <div class="form-group mb-3">
              <label for="description">Опис додатку</label>
              <textarea
                [(ngModel)]="updateAppDescription"
                class="form-control"
                id="description"
                name="appDescription"
                placeholder="Напишіть опис додатку"
              ></textarea>
            </div>
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="
                !updateAppName ||
                !updateAppDescription ||
                !updateAppShortDescription ||
                !updateAppRoute
              "
              (click)="updateApp()"
            >
              Оновити додаток
            </button>
          </form>
        </app-modal>
      </li>
      <li class="list-unstyled" style="width: 190px">
        <button (click)="deleteApp()" class="btn btn-danger">Видалити додаток</button>
      </li>
    </ul>
  </button>
  <div [hidden]="!showBody" class="mt-4 text-center" style="margin-left: 50px;">
    <p><b>Опис: </b>{{ app.Description }}</p>
  </div>
</div>
