<div class="accordion custom-accordion mb-4">
  <div class="accordion-item custom-accordion-item">
    <div class="accordion-header custom-accordion-header project ">
      <h2
        class="accordion-header d-flex justify-content-between project-header align-items-center w-100 pointer"
        (click)="toggleShow()"
      >
        <div class="d-block text-white bg-primary p-2 rounded custom-accordion-header">
          {{ project.Name }}
        </div>

        <div class="d-flex align-items-center gap-3 flex-wrap">
          <button
            (click)="getProjectApps()"
            [disabled]="projectManagementAppService.isDataLoaded"
            class="btn btn-outline-secondary"
            style="width: 150px"
          >
            Завантажити
          </button>
          <app-modal [modalName]="'Оновити проект'" [buttonName]="'Оновити'" [buttonClasses]="'btn-outline-info'">
            <form>
              <div class="form-group mb-3">
                <label for="name">Назва проекту</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  aria-describedby="emailHelp"
                  placeholder="Напишість назву проекту"
                  [(ngModel)]="updateProjectName"
                  name="projectName"
                />
              </div>
              <div class="form-group mb-3">
                <label for="description">Опис проекту</label>
                <input
                  type="text"
                  [(ngModel)]="updateProjectDescription"
                  class="form-control"
                  id="description"
                  name="projectDescription"
                  placeholder="Напишість опис проекту"
                />
              </div>
              <button
                type="button"
                [disabled]="!updateProjectName || !updateProjectDescription"
                class="btn btn-primary"
                (click)="updateProject()"
              >
                Оновити проект
              </button>
            </form>
          </app-modal>
          <button (click)="deleteProject()" class="btn btn-danger" style="width: 150px">Видалити</button>

          <div *ngIf="projectManagementAppService.loader" class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div
            class="accordion-button bg-transparent shadow-none"
            style="width: auto"
            [class.collapsed]="!showBody"
            [hidden]="!projectManagementAppService.isDataLoaded"
          ></div>
        </div>
      </h2>
    </div>

    <div class="mt-2" [hidden]="!showBody">
      <p><b>Опис: </b>{{ project.Description }}</p>
      <app-project-management-apps-list ></app-project-management-apps-list>
    </div>
  </div>
</div>
