<div ngbAccordion >
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton (click)="loadRole()">
        {{ role.Name }}
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="permission-list">
            <div class="card" *ngFor="let app of appsWithPermissions">
              <div class="card-header">
                <h4 class="card-title text-center">{{ app.app }}</h4>
              </div>
              <div class="card-body d-flex justify-content-start align-items-center flex-column">
                <ul class="list-group list-group-flush w-100">
                  <li class="list-group-item text-center" *ngFor="let permission of app.permissions">
                    {{ permission.Action }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
